[Unit]
      Description=get sensors data from redis and send to domoticz virtual sensors
      After=network.target
[Service]
      User=pi
      ExecStart=/usr/bin/python /home/pi/domoticzapps/virtualsensors/domoticz_virtual_sensors.py
      WorkingDirectory=/home/pi/domoticzapps/virtualsensors
      Restart=on-failure
      RestartSec=60
[Install]
      WantedBy=multi-user.target
